[submodule "puppet/modules/puppi"]
	path = puppet/modules/puppi
	url = https://github.com/example42/puppi.git
[submodule "puppet/modules/php"]
	path = puppet/modules/php
	url = https://github.com/example42/puppet-php.git
[submodule "puppet/modules/apache"]
	path = puppet/modules/apache
	url = https://github.com/example42/puppet-apache.git
[submodule "puppet/modules/postgresql"]
	path = puppet/modules/postgresql
	url = https://github.com/rjsmelo/puppet-postgresql.git
[submodule "puppet/modules/mongodb"]
	path = puppet/modules/mongodb
	url = https://github.com/puppetlabs/puppetlabs-mongodb.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/composer"]
	path = puppet/modules/composer
	url = https://github.com/experience/vagrant-puppet-composer.git
